@import "variables";

// text bg
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// 对齐方式
@each $align in $aliginment {
  .text-#{$align} {
    text-align: $align;
  }
}
